{% extends "ProyectoWebApp/base.html" %}
{% load static %}

{% block content %}
  <div style="text-align: center;" class="header-content container">
    <div style="color:white" class="header-txt">
      <h2  style="color:chocolate; font-size:50px;" class="header-txt"><spam style="color:chocolate;">{{ producto.nombre }}</spam></h2>
      <p  style="color:white; text-align: left; font-size:20px;">Precio:  <spam style="color:chocolate;">{{ producto.precio }}</spam></p>
      <p  style="color:white; text-align: left; font-size:20px;">Moneda:  <spam style="color:chocolate;">{{ producto.moneda }}</spam></p>
      <p  style="color:white;text-align: left; font-size:20px;">Categoría:  <spam style="color:chocolate;">{{ producto.categorias }}</spam></p>
      <p  style="color:white; text-align: left; font-size:20px;">Descripción: <spam style="color:chocolate;">{{ producto.descripcion }}</spam></p>
      
      <br/>
      <a href="{% url 'Tienda' %}" class="btn btn-primary">Volver a la Tienda</a>
    </div>
  </div>  
{% endblock %}




