{% extends 'Chat/chat.html' %}
{% load static %}
{% block hide %}{% endblock %}
{% block messages %}
    {% for message in messages %}
    <div class="card-panel {% if message.sender == request.user %}right{% else %}left blue lighten-5{% endif %}" style="width: 75%; position: relative">
        <div style="position: absolute; top: 0; left:3px; font-weight: bolder" class="title">
            {% if message.sender == request.user %}
                You
            {% else %}
                {{ message.sender.username }}
            {% endif %}
        </div>
        {{ message.content }}
    </div>
    {% endfor %}

    <script>
        $(function () {
            $('#user{{ receiver.id }}').addClass('active');
            setInterval(receive, 1000);
        });
    </script>
{% endblock %}
