{% extends "ProyectoWebApp/base.html" %}

  {% load static %}

  {% block content %}

  {% for servicio in servicios %} 

  <section>
    <div    class="header-content-service container">
      
      <div class="header-txt">
            <img style="border-radius: 0%;" src="{{servicio.imagen.url}}" class="hamburger" alt="hamburger">
      </div>
      
      <div  class="header-txt">
            <h1>{{ servicio.titulo }}</h1>
            <p style="color:chocolate">{{ servicio.contenido }} </p>            
      </div>


    </div>
  </section>

  

  {% endfor %}


  {% endblock %}
   