<html>

<head>

    {% load static %}

    <!-- Bootstrap -->
    <link href= "{% static 'ProyectoWebApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina</title>
    <!-- Styles -->
    <link href="{% static 'ProyectoWebApp/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    
</head>

<body>
    
    <header>
        <section class="menu container">
            <div style="width:100%;color:chocolate; text-align:right;margin-right:100px; ">
                {% if user.is_authenticated %}  

                <span style="color:white">Hola:</span> {{user.username}} &nbsp;&nbsp; <a href="{% url 'Cerrar_Sesion' %}" style="color:white">Cerrar Sesion</a>

                {% else  %}

                <a href="{% url 'Logear' %}" style="color:white">Login</a>&nbsp;&nbsp;<a href="{% url 'Autenticacion' %}"   style="color:white">Registrate</a>

                {% endif %}

            </div>
            <div class="menu container">
                <a href="#"><img style="border-radius: 100%;border: 2px solid whitesmoke;" src="{% static 'ProyectoWebApp/img/logo.jpg' %}" class="logo" alt=""></a>
                <h1 style="font-size: 40px; color:chocolate" class="navbar">ALLPA BURGER</h1>
                <input type="checkbox" id="menu">
                <label for="menu"><img src="{% static 'ProyectoWebApp/img/menu.png' %}" class="menu-icono" alt=""></label>

                
                <nav class="navbar">
                    <ul>
                        <li><a href="{% url 'Home' %}">Inicio</a></li>
                        <li><a href="{% url 'Servicios' %}">Que Ofrecemos</a></li>
                        <li><a href="{% url 'Tienda' %}">La Carta</a></li>
                        <li><a href="{% url 'Blog' %}">Blog</a></li>
                        <li><a href="{% url 'Contacto' %}">Contactanos</a></li>
                        <!--<li><a style="color: whitesmoke;"  href="#" id="abrirModal"><i class="fas fa-shopping-cart"></i></a></li>-->
                                                   
                    </ul>
                                  
                </nav>
             
            </div>
           
        
        </section>

    </header>

    {% block content %}

    {% endblock %}
    
    
    
    
    <footer class="footer container">
        
        <img style="border-radius: 100%;border: 2px solid whitesmoke;"  class="logo-2" src="{% static 'ProyectoWebApp/img/logo.jpg' %} " alt="">
        
        <div class="links">
            <h4>Dirección</h4>
            <ul>
                <li><a href="#">Italia 1059,</a></li> 
                <li>  <a href="#">San Miguel,</a></li> 
                <li>  <a href="#">Buenos Aires,</a></li> 
                <li> <a href="#">Argentina.</a>   </li>                                                  
            </ul>
        </div>
        
        <div class="links">
            <h4>Horarios</h4>
            <ul>
                <li><a href="#">De Miercoles a Lunes: </a></li>
                <li><a href="#">de 11:30 a 15:30 Hs</a></li>
                <li><a href="#">de 19:00 a 23:55 Hs</a></li>                
            </ul>
        </div>
        
        <div class="links">
            <h4>Telfono</h4>
            <ul>
                <li><a href="#">+54911-6958-2337</a></li>                
            </ul>
            <h4>Email</h4>
            <ul>
                <li><a href="#">allpaburger@gmail.com</a></li>                
            </ul>
        </div>
        
        <div class="links">
            <h4>NUESTRAS REDES</h4>
            <div    class="socials">
                <a href="https://www.facebook.com/profile.php?id=100089169619717">
                    <div style="background-color:chocolate ;"  class="social">
                        <img src="{% static 'ProyectoWebApp/img/s1.svg' %}" alt="">
                    </div>
                </a>
                <a href="#">
                    <div style="background-color:chocolate ;" class="social">
                        <img src="{% static 'ProyectoWebApp/img/s2.svg' %}"  alt="">
                    </div>
                </a>
                <a href="https://www.instagram.com/allpa.burger/">
                    <div style="background-color:chocolate ;" class="social">
                        <img src="{% static 'ProyectoWebApp/img/s3.svg' %}" alt="">
                    </div>
                </a>
            </div>
        </div>

    </footer>
    
    <script src="{% static 'ProyectoWebApp/css/script.js' %}"></script>   
</body>