
{% extends "ProyectoWebApp/base.html" %}
{% load static %}

{% block content %}
<section class="header-content container">
  <div class="header-txt">
    <h1 class="title">Sobre Nosotros</h1>
    <h3 style="font-size: 40px; color:chocolate">Bienvenido a Allpa Burger: Donde el Sabor Encuentra su Hogar</h3>
    <p>En Allpa Burger, no solo servimos hamburguesas; creamos experiencias gastronómicas memorables. Somos más que una simple hamburguesería, somos un equipo apasionado dedicado a elevar el arte culinario de las hamburguesas a nuevas alturas.</p>
    <h3 style="font-size: 40px; color:chocolate">Nuestra Historia: Pasión por el Sabor</h3>
    <p>Todo comenzó con la idea audaz de fusionar sabores auténticos con técnicas culinarias innovadoras. Fundada por amantes de la gastronomía, nuestra empresa nació con la visión de ofrecer hamburguesas que despierten los sentidos y hagan que cada bocado sea inolvidable.</p>
    <h3 style="font-size: 40px; color:chocolate" >Ingredientes Frescos y Locales: Nuestro Compromiso</h3>
    <p>En Allpa Burger, creemos en la calidad desde el principio. Utilizamos ingredientes frescos y locales para garantizar que cada hamburguesa sea una obra maestra culinaria. Desde la selección de la carne hasta la elección de los acompañamientos, cada detalle se elige con cuidado para proporcionar una experiencia gastronómica auténtica.</p>
    <h3 style="font-size: 40px; color:chocolate">Innovación en Cada Plato: Nuestro Sello Distintivo</h3>
    <p>Nuestros chefs son artistas culinarios apasionados que buscan constantemente la innovación. Cada hamburguesa en nuestro menú es una obra maestra única, creada con combinaciones de sabores que sorprenden y deleitan a los paladares más exigentes.</p>
    <h3 style="font-size: 40px; color:chocolate">Experiencia del Cliente: Nuestro Mayor Orgullo</h3>
    <p>En Allpa Burger, el cliente es nuestra máxima prioridad. Queremos que cada visita sea más que una comida; queremos que sea una experiencia. Desde el momento en que entras por nuestras puertas, te sumerges en un ambiente acogedor y amigable, donde cada miembro de nuestro equipo está dedicado a hacer que tu experiencia sea inolvidable.</p>
    <h3 style="font-size: 40px; color:chocolate">Únete a Nosotros en este Viaje Culminante</h3>
    <p>Allpa Burger es más que un lugar para disfrutar de hamburguesas excepcionales; es un destino gastronómico donde la pasión por la comida se encuentra con la dedicación al servicio al cliente. Únete a nosotros en este viaje culinario y descubre por qué Allpa Burger es donde el sabor encuentra su hogar.</p>
    
  </div>
</section>
{% endblock %}
